<p>{{listing.title}}</p>
<p>{{listing.seller}}</p>
<p>{{listing.price}}</p>
<br>
<p>{{listing.description}}</p>
<p>Posted on: {{current-date listing.date_added}}</p>
<p><img src={{listing.image}}></p>
